{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
 Login 
{% endblock title %}
{%block content %}


    <div class="d-flex justify-content-center mt-5" dir="ltr">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
        <form method="post">
            <h1 class="text-center">Login</h1>

            {% csrf_token %}
            {{ form|crispy }}


            <div class="d-flex justify-content-between align-items-center">
                <div class="mt-2">
                    <a class="text-decoration-none" href="{% url 'password_reset' %}">Forgot your password</a>
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-3 w-100">login</button>

            <a href="{% url 'signup' %}" class="btn btn-dark mt-2 mb-3 w-100">signup</a>
        </form>
    </div>

</div>


{% endblock content %}
